.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    margin-top: 85px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 24px;
    white-space:pre-wrap;
    word-wrap:break-word
  }
  
  th {
    background-color: #F36115;
    color: white;
  }
  
  td {
    background-color: #ffecc3;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }
  